<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <h1 style="text-align: center">LOGIN</h1>
            <label>Username:</label>
            <input type="text" name="username">
            <label>password:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>
    {% for message in messages %}
    <div align="center">
        <strong>Erro! </strong>{{ message }}
    </div>
    {% endfor %}

</body>
</html>